@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "suecaslab-bold";
    src: url("../../public/fonts/suecaslab-bold.woff2");
}

@font-face {
    font-family: "suecaslab-medium";
    src: url("../../public/fonts/suecaslab-medium.woff2");
}

body {
    font-family: "suecaslab-medium";
}